---
import notionLoader from "../../../notion.config";
import Base from "$layouts/Base.astro";
import Jotting from "$components/Jotting.svelte";
import Icon from "$components/Icon.astro";

const jottings = await notionLoader.load("jotting");

// Standardize note structure
let list = jottings.map(jotting => ({
	id: jotting.slug,
	data: {
		title: jotting.title,
		timestamp: jotting.properties.timestamp,
		tags: jotting.properties.tags,
		sensitive: jotting.properties.sensitive,
		top: jotting.properties.top
	}
}));

// Extract all unique tags from the filtered notes
const tags = Array.from(new Set(jottings.flatMap(jotting => jotting.properties.tags).filter(Boolean))).sort();
---

<Base title="随笔">
    <main class="flex flex-col grow">
        <Jotting client:load jottings={list} {tags}>
            <Icon name="lucide:flag-triangle-right" slot="top" />
            <Icon name="lucide:siren" title="敏感内容" slot="sensitive" />
            <Icon name="lucide:arrow-left" slot="left" />
            <Icon name="lucide:arrow-right" slot="right" />
            <Icon name="lucide:ellipsis" slot="dots" />
        </Jotting>
    </main>
</Base>