---
import { getEntry, render } from "astro:content";
import Base from "$layouts/Base.astro";

const introduction = await getEntry("information", "zh-cn/introduction");
const roll = await getEntry("information", "zh-cn/roll");

const { Content: Introduction } = introduction ? await render(introduction) : ({} as any);
const { Content: Roll } = roll ? await render(roll) : ({} as any);
---

<style lang="less">
	article {
		div {
			margin-bottom: 2rem;

			h1 {
				margin-bottom: 1rem;

				font-size: 1.8rem;
			}
		}
	}
</style>

<Base title="关于">
	<main>
		<article class="flex flex-col">
			{
				introduction && (
					<div>
						<h1>简介</h1>
						<samp class="markdown">
							<Introduction />
						</samp>
					</div>
				)
			}
			{
				roll && (
					<div>
						<h1>名单</h1>
						<samp class="markdown">
							<Roll />
						</samp>
					</div>
				)
			}
		</article>
	</main>
</Base>
