---
import { render } from "astro:content";
import Base from "$layouts/Base.astro";
import { getEntry } from "astro:content";

const policy = await getEntry("information", "zh-cn/policy");
const { Content } = policy ? await render(policy) : ({} as any);
---

<Base title="隐私政策">
	<main>
		{
			policy && (
				<div class="markdown">
					<Content />
				</div>
			)
		}
	</main>
</Base>