---
const { GISCUS_REPO, GISCUS_REPO_ID, GISCUS_CATEGORY, GISCUS_CATEGORY_ID } = import.meta.env;
---

<section id="comment" class="w-full"></section>

<script is:inline define:vars={{ GISCUS_REPO, GISCUS_REPO_ID, GISCUS_CATEGORY, GISCUS_CATEGORY_ID }}>
  const getGiscusTheme = () => {
    return document.documentElement.dataset.theme === "dark" ? "dark" : "light";
  };

  const script = document.createElement("script");
  script.src = "https://giscus.app/client.js";
  script.setAttribute("data-repo", GISCUS_REPO);
  script.setAttribute("data-repo-id", GISCUS_REPO_ID);
  script.setAttribute("data-category", GISCUS_CATEGORY);
  script.setAttribute("data-category-id", GISCUS_CATEGORY_ID);
  script.setAttribute("data-mapping", "pathname");
  script.setAttribute("data-strict", "0");
  script.setAttribute("data-reactions-enabled", "1");
  script.setAttribute("data-emit-metadata", "0");
  script.setAttribute("data-input-position", "top");
  script.setAttribute("data-theme", getGiscusTheme());
  script.setAttribute("data-lang", "zh-CN");
  script.setAttribute("crossorigin", "anonymous");
  script.async = true;
  document.querySelector("#comment").appendChild(script);

  const themeObserver = new MutationObserver(() => {
    const theme = getGiscusTheme();
    const iframe = document.querySelector(".giscus-frame");
    if (iframe) {
      iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, "https://giscus.app");
    }
  });
  themeObserver.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>