---
import { getCollection } from "astro:content";
import Base from "$layouts/Base.astro";
import Note from "$components/note/Note.svelte";
import Icon from "$components/Icon.astro";
import { getListSEO } from "$utils/seo";

// 生成列表页 SEO 配置
const seoConfig = getListSEO(Astro.site!, Astro.url.pathname, "笔记");

const notes = await getCollection("note", note => {
	// Filter by publication status and locale
	let published = !note.data.draft;
	let localed = note.id.split("/")[0] === "zh-cn";

	return published && localed;
});

// Standardize note structure
let list = notes.map(note => ({
	id: note.id,
	data: {
		title: note.data.title,
		timestamp: note.data.timestamp,
		series: note.data.series,
		tags: note.data.tags,
		sensitive: note.data.sensitive,
		top: note.data.top
	}
}));

// Extract all unique series and tags from the filtered notes
const series = Array.from(new Set(notes.map(note => note.data.series).filter(Boolean))).sort();
const tags = Array.from(new Set(notes.flatMap(note => note.data.tags).filter(Boolean))).sort();
---

<Base title="笔记" seoConfig={seoConfig}>
	<main class="flex flex-col grow">
		<Note client:load notes={list} {series} {tags}>
			<Icon name="lucide:flag-triangle-right" slot="top" />
			<Icon name="lucide:siren" title="敏感内容" slot="sensitive" />
			<Icon name="lucide:arrow-left" slot="left" />
			<Icon name="lucide:arrow-right" slot="right" />
			<Icon name="lucide:ellipsis" slot="dots" />
		</Note>
	</main>
</Base>