---
import notionLoader from "../../../notion.config";
import Base from "$layouts/Base.astro";
import Note from "$components/note/Note.svelte";
import Icon from "$components/Icon.astro";

const notes = await notionLoader.load("note");

// Standardize note structure
let list = notes.map(note => ({
	id: note.slug,
	data: {
		title: note.title,
		timestamp: note.properties.timestamp,
		series: note.properties.series,
		tags: note.properties.tags,
		sensitive: note.properties.sensitive,
		top: note.properties.top
	}
}));

// Extract all unique series and tags from the filtered notes
const series = Array.from(new Set(notes.map(note => note.properties.series).filter(Boolean))).sort();
const tags = Array.from(new Set(notes.flatMap(note => note.properties.tags).filter(Boolean))).sort();
---

<Base title="笔记">
    <main class="flex flex-col grow">
        <Note client:load notes={list} {series} {tags}>
            <Icon name="lucide:flag-triangle-right" slot="top" />
            <Icon name="lucide:siren" title="敏感内容" slot="sensitive" />
            <Icon name="lucide:arrow-left" slot="left" />
            <Icon name="lucide:arrow-right" slot="right" />
            <Icon name="lucide:ellipsis" slot="dots" />
        </Note>
    </main>
</Base>